node_modules
.next
.git
.gitignore
.dockerignore
.dockerignore.old
.dockerignore.backup
dist
Dockerfile
docker
.vscode
.env
.env.example
.env.local
.release.bat
.release.sh

backend
.temp
*.db